In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

At first glance, we dispose the officials, draft combine stats, draft history, player logs, score

In [ ]:
games = pd.read_csv('./Datasets/nba_dataset/csv/game.csv')
players = pd.read_csv('./Datasets/nba_dataset/csv/player.csv')

In [3]:
games

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min_home,fgm_home,...,dreb_away,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68,2,0
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,25.0,51,-5,0
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53,-6,0
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,22.0,47,-16,0
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,17,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64287,22022,1610612738,BOS,Boston Celtics,22200679,2023-01-19 00:00:00,BOS vs. GSW,W,265,43.0,...,39.0,47.0,28.0,10.0,7.0,16.0,26.0,118,-3,1
64288,22022,1610612750,MIN,Minnesota Timberwolves,22200680,2023-01-19 00:00:00,MIN vs. TOR,W,240,45.0,...,30.0,38.0,26.0,8.0,6.0,16.0,19.0,126,-2,1
64289,22022,1610612757,POR,Portland Trail Blazers,22200682,2023-01-19 00:00:00,POR vs. PHI,L,240,32.0,...,38.0,43.0,24.0,8.0,8.0,15.0,23.0,105,10,1
64290,22022,1610612756,PHX,Phoenix Suns,22200681,2023-01-19 00:00:00,PHX vs. BKN,W,240,39.0,...,32.0,34.0,27.0,10.0,6.0,13.0,34.0,112,-5,1
64291,22022,1610612765,DET,Detroit Pistons,22200678,2023-01-19 00:00:00,DET vs. CHI,L,240,39.0,...,37.0,48.0,23.0,11.0,8.0,14.0,17.0,126,18,1

In [ ]:
teams = pd.read_csv('./Datasets/nba_dataset/csv/team.csv')
teams

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [5]:
players

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0
...       ...                  ...        ...           ...        ...
4826  1627790           Ante Zizic       Ante         Zizic          0
4827    78647             Jim Zoet        Jim          Zoet          0
4828    78648            Bill Zopf       Bill          Zopf          0
4829  1627826          Ivica Zubac      Ivica         Zubac          1
4830    78650           Matt Zunic       Matt         Zunic          0

[4831 rows x 5 columns]

In [ ]:
common_player_info = pd.read_csv('./Datasets/nba_dataset/csv/common_player_info.csv')
common_player_info.drop(common_player_info.columns[[4,5,6,8,10,13,16,17,21,23,26,27,28,29,30,31,32]], axis=1, inplace=True)

common_player_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4215 entries, 0 to 4214
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   person_id           4215 non-null   int64
 1   first_name          4214 non-null   object
 2   last_name           4215 non-null   object
 3   display_first_last  4215 non-null   object
 4   birthdate           4215 non-null   object
 5   country             4214 non-null   object
 6   height              4108 non-null   object
 7   weight              4104 non-null   float64
 8   jersey              3243 non-null   object
 9   position            4138 non-null   object
 10  team_id             4215 non-null   int64
 11  team_name           3523 non-null   object
 12  team_abbreviation   3523 non-null   object
 13  team_city           3523 non-null   object
 14  from_year           4193 non-null   float64
 15  to_year             4193 non-null   float64
dtypes: float64(3), int64(2), object(11)
memory usage: 527.0+ KB

# Dataset - Player Data per season

Stats glossary:
 - G: Games
 - GS: 
 - MP: Minutes Played
 - PER: Player Efficiency Rating
 - TS%: True Shooting Percentage
 - 3PAr: 3-Point Attempt Rate
 - FTr: Free-Throws rate
 - ORB%: Offensive Rebound percentage
 - DRB%: Deffensive Rebound percentage
 - TRB%: Total Rebound Percentage
 - AST%: assists percentage
 - STL%: steals percentage
 - BLK%: blocks percentage
 - TOV%: Turnover percentage
 - USG%: Usage rate (involvement)
 - blanl ??
 - OWS: Offensive Win shares
 - DWS: Deffensive Win shares
 - WS: Win shares
 - OBPM: Offensive Box Plus/Minus
 - DBPM: Deffensive Blocks Plus/Minus
 - BPM: Box Plus/Minus
 - VORP: Value Over Replacement Player
 - FG: Field Goals (any shot taken from the court during play)
 - FGA: Field Goals Attempted
 - FG%: Field Goals Percentage
 - 3P: 3-point
 - 3PA: 3-point attempted
 - 3P%: 3-point percentage
 - 2P: 2-point
 - 2PA: 2-point attempted
 - 2P%: 2-point percentage
 - eFG%: Effective Field Goal percentage
 - FT: Free Throw
 - FTA: Free Throws Attempted
 - FT%: Free Throws percentage
 - ORB: Offensive Rebound
 - DRB: Deffensive Rebound
 - TRB: Total Rebound
 - AST: Assists
 - STL: Steals
 - BLK: Blocks
 - TOV: Turnovers
 - PF: Personal Fouls
 - PTS: Points

At a first glance we see some columns that will not be necessary or are too detailed for the work proposed: VORP,

In [ ]:
player_stats = pd.read_csv('./Datasets/archive/Seasons_Stats.csv')

player_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24691 entries, 0 to 24690
Data columns (total 53 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24691 non-null  int64
 1   Year        24624 non-null  float64
 2   Player      24624 non-null  object
 3   Pos         24624 non-null  object
 4   Age         24616 non-null  float64
 5   Tm          24624 non-null  object
 6   G           24624 non-null  float64
 7   GS          18233 non-null  float64
 8   MP          24138 non-null  float64
 9   PER         24101 non-null  float64
 10  TS%         24538 non-null  float64
 11  3PAr        18839 non-null  float64
 12  FTr         24525 non-null  float64
 13  ORB%        20792 non-null  float64
 14  DRB%        20792 non-null  float64
 15  TRB%        21571 non-null  float64
 16  AST%        22555 non-null  float64
 17  STL%        20792 non-null  float64
 18  BLK%        20792 non-null  float64
 19  TOV%        19582 non-null  float64
 20  USG%        19640 non-null  float64
 21  blanl       0 non-null      float64
 22  OWS         24585 non-null  float64
 23  DWS         24585 non-null  float64
 24  WS          24585 non-null  float64
 25  WS/48       24101 non-null  float64
 26  blank2      0 non-null      float64
 27  OBPM        20797 non-null  float64
 28  DBPM        20797 non-null  float64
 29  BPM         20797 non-null  float64
 30  VORP        20797 non-null  float64
 31  FG          24624 non-null  float64
 32  FGA         24624 non-null  float64
 33  FG%         24525 non-null  float64
 34  3P          18927 non-null  float64
 35  3PA         18927 non-null  float64
 36  3P%         15416 non-null  float64
 37  2P          24624 non-null  float64
 38  2PA         24624 non-null  float64
 39  2P%         24496 non-null  float64
 40  eFG%        24525 non-null  float64
 41  FT          24624 non-null  float64
 42  FTA         24624 non-null  float64
 43  FT%         23766 non-null  float64
 44  ORB         20797 non-null  float64
 45  DRB         20797 non-null  float64
 46  TRB         24312 non-null  float64
 47  AST         24624 non-null  float64
 48  STL         20797 non-null  float64
 49  BLK         20797 non-null  float64
 50  TOV         19645 non-null  float64
 51  PF          24624 non-null  float64
 52  PTS         24624 non-null  float64
dtypes: float64(49), int64(1), object(3)
memory usage: 10.0+ MB

# Dataset - Team Season Stats

 - G: 	Games
 - Gs: 	Games Started
 - Min: 	Minutes
 - Pts: 	Points
 - Reb: 	Rebounds
 - Oreb: 	Offensive Rebounds
 - Dreb: 	Defensive Rebounds
 - Ast:	Assists
 - Stl: 	Steals
 - Blk: 	Blocks
 - To: 	Turnovers
 - Pf: 	Fouls
 - Fgm-a: 	Field goals made - Field goals attempts
 - 3gm-a: 	3-point made - 3-point attempts
 - Ftm-a: 	Free throws made - Free throws attempts
 - Pct: 	Percentage
 - Off: 	Offense
 - Def: 	Defense
 - Res: 	Result
 - W: 	Win
 - L: 	Loss
 - Deff: 	Efficiency Recap Difference = Efficiency Recap - Opponent's Efficiency Recap
 - Eff: 	NBA Efficiency recap = ((Points + Rebounds + Assists + Steals + Blocks) - ((Field goals attempts - Field goals made) + (Free throws attempts - Free throws made) + Turnovers))
 - Conf: 	Conference
 - Div 	Division
 - In-The-Paint Stats: 	Power-Forward + Center Stats
 - Out-The-Paint Stats: 	Point Guard + Shooting Guard + Small-Forward Stats
 - Backcourt Stats: 	Point Guard + Shooting Guard Stats
 - Frontourt Stats: 	Small-Forward + Power-Forward + Center Stats
 - Rkg: 	Ranking = (Points + Rebounds + Assists + Steals + Blocks + Fouls Drawn + Free Throws Made + Field goals Made + 3-point Made - Turnovers - Blocks Against - Fouls - Free throws attempts - Field goals Attempts - 3-point Attempts)
 - Efg %: 	Effective Field Goal Percentage = (Field goals Made+ 0.5*3-point Made)/Field goals Attempts
 - TS % 	True Shooting Percentage = Points/(2*(Field goals Attempts+0.44*Free throws attempts)).

In [ ]:
team_stats = pd.read_csv('./Datasets/NBA_Team_Stats.csv')
team_stats

,No,Team,G,Min,Pts,Reb,Ast,Stl,Blk,To,...,Oreb,Fgm-a,Pct,3gm-a,Pct.1,Ftm-a,Pct.2,Eff,Deff,Year
0,1,Chicago,103,48.4,96.0,44.1,23.1,8.6,4.3,13.0,...,14.9,36.7-81.7,0.449,3.9-12.0,0.323,18.7-25.2,0.741,111.6,17.5,1997-1998
1,2,Utah,102,48.3,98.6,40.8,24.7,7.6,4.8,14.7,...,11.3,35.9-74.3,0.483,3.1-8.4,0.368,23.8-30.9,0.768,116.3,17.5,1997-1998
2,3,Phoenix,86,48.6,99.3,41.9,25.6,9.2,5.3,14.4,...,12.1,38.2-82.0,0.466,5.2-14.7,0.355,17.7-23.6,0.747,117.1,13.6,1997-1998
3,4,L.A.Lakers,95,48.3,104.8,42.9,24.3,8.7,6.8,14.7,...,13.2,38.0-79.1,0.480,6.1-17.3,0.350,22.8-33.7,0.675,120.8,13.2,1997-1998
4,5,San Antonio,91,48.4,92.5,44.1,21.9,6.2,6.9,15.3,...,11.9,35.1-75.1,0.468,3.7-10.8,0.344,18.5-26.8,0.688,108.0,13.1,1997-1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720,25,Sacramento,82,48.3,110.3,42.9,23.7,7.2,4.5,13.5,...,9.6,40.5-88.1,0.460,11.4-33.2,0.344,17.9-23.3,0.768,122.1,-13.4,2021-2022
721,26,Orlando,82,48.2,104.2,44.3,23.7,6.8,4.5,13.8,...,9.1,38.3-88.3,0.434,12.2-36.8,0.331,15.5-19.7,0.787,115.5,-16.0,2021-2022
722,27,Detroit,82,48.2,104.8,43.0,23.5,7.7,4.8,13.4,...,11.0,38.2-88.6,0.430,11.3-34.6,0.326,17.2-22.0,0.782,115.1,-16.7,2021-2022
723,28,Portland,82,48.1,106.2,42.9,22.9,8.0,4.5,13.7,...,10.4,38.5-87.1,0.443,12.7-36.8,0.346,16.4-21.6,0.760,117.1,-19.0,2021-2022
724,29,Oklahoma City,82,48.3,103.7,45.6,22.2,7.6,4.6,13.3,...,10.4,38.3-89.1,0.430,12.1-37.4,0.323,15.0-19.9,0.756,114.8,-19.2,2021-2022

In [38]:

print(team_stats['Team'].info())
print(teams[['id', 'city', 'nickname', 'abbreviation']])

<class 'pandas.core.series.Series'>
Int64Index: 695 entries, 8 to 717
Series name: Team
Non-Null Count  Dtype
--------------  -----
695 non-null    object
dtypes: object(1)
memory usage: 10.9+ KB
None
            id           city       nickname abbreviation
0   1610612737        Atlanta          Hawks          ATL
1   1610612738         Boston        Celtics          BOS
14  1610612751       Brooklyn           Nets          BKN
29  1610612766      Charlotte        Hornets          CHA
4   1610612741        Chicago          Bulls          CHI
2   1610612739      Cleveland      Cavaliers          CLE
5   1610612742         Dallas      Mavericks          DAL
6   1610612743         Denver        Nuggets          DEN
28  1610612765        Detroit        Pistons          DET
7   1610612744   Golden State       Warriors          GSW
8   1610612745        Houston        Rockets          HOU
17  1610612754        Indiana         Pacers          IND
9   1610612746    Los Angeles       Clippers          LAC
10  1610612747    Los Angeles         Lakers          LAL
26  1610612763        Memphis      Grizzlies          MEM
11  1610612748          Miami           Heat          MIA
12  1610612749      Milwaukee          Bucks          MIL
13  1610612750      Minnesota   Timberwolves          MIN
3   1610612740    New Orleans       Pelicans          NOP
15  1610612752       New York         Knicks          NYK
23  1610612760  Oklahoma City        Thunder          OKC
16  1610612753        Orlando          Magic          ORL
18  1610612755   Philadelphia          76ers          PHI
19  1610612756        Phoenix           Suns          PHX
20  1610612757       Portland  Trail Blazers          POR
21  1610612758     Sacramento          Kings          SAC
22  1610612759    San Antonio          Spurs          SAS
24  1610612761        Toronto        Raptors          TOR
25  1610612762           Utah           Jazz          UTA
27  1610612764     Washington        Wizards          WAS

Seattle, New Jersey and Vancouver not in the NBA so they will be removed

In [34]:
team_stats = team_stats[team_stats["Team"] != "Seattle"]
team_stats = team_stats[team_stats["Team"] != "New Jersey"]
team_stats = team_stats[team_stats["Team"] != "Vancouver"]

In [80]:
team_stats = team_stats.sort_values(['Team', 'Year'], ascending=(True, True))
team_stats

,No,Team,G,Min,Pts,Reb,Ast,Stl,Blk,To,...,Oreb,Fgm-a,Pct,3gm-a,Pct.1,Ftm-a,Pct.2,Eff,Deff,Year
8,9,Atlanta,86,48.5,95.5,42.8,19.0,8.0,5.9,14.0,...,13.4,35.1-77.3,0.454,4.2-12.7,0.335,21.0-27.9,0.753,108.1,7.3,1997-1998
43,15,Atlanta,59,48.3,85.3,42.8,15.4,7.1,5.0,14.0,...,13.3,30.4-75.1,0.405,4.1-13.3,0.307,20.3-27.6,0.736,89.6,0.7,1998-1999
82,25,Atlanta,82,48.4,94.3,45.3,18.9,6.1,5.6,14.9,...,14.0,36.6-83.0,0.441,3.1-9.9,0.317,18.0-24.2,0.743,102.7,-12.2,1999-2000
110,24,Atlanta,82,48.1,91.0,42.9,19.0,7.7,4.7,15.8,...,12.5,35.1-81.3,0.431,4.1-11.4,0.357,16.8-22.1,0.759,98.0,-12.3,2000-2001
139,24,Atlanta,82,48.2,94.0,41.5,20.2,8.1,4.3,14.7,...,11.6,35.4-80.6,0.439,5.2-14.6,0.354,18.1-23.7,0.765,102.6,-11.6,2001-2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588,9,Washington,88,48.4,106.6,42.8,25.1,7.9,4.3,13.9,...,9.9,39.9-85.5,0.467,9.8-26.2,0.374,17.0-21.9,0.777,122.3,4.1,2017-2018
631,23,Washington,82,48.6,114.0,42.3,26.3,8.3,4.6,13.6,...,9.7,42.1-90.1,0.468,11.3-33.3,0.340,18.4-23.9,0.768,128.5,-7.0,2018-2019
659,22,Washington,72,48.2,114.4,42.1,25.0,8.0,4.3,13.5,...,10.2,41.5-90.9,0.457,12.0-32.6,0.369,19.4-24.6,0.788,125.7,-10.8,2019-2020
686,20,Washington,79,48.3,116.3,45.2,25.3,7.1,4.3,13.9,...,9.7,43.1-90.8,0.475,9.9-28.6,0.348,20.2-26.3,0.769,130.6,-3.9,2020-2021
717,22,Washington,82,48.4,108.6,43.1,25.0,6.4,5.0,12.6,...,9.0,40.6-86.0,0.472,10.5-30.6,0.342,17.0-21.7,0.783,125.3,-2.9,2021-2022

In [18]:
team_city = team_stats['Team'].to_numpy()

In [19]:
team_city = team_stats['Team'].to_numpy()

unique = ['Chicago','Utah','Phoenix','L.A.Lakers','San Antonio','Indiana', 
          'Miami','Atlanta','New York','Cleveland','Charlotte','Portland',
          'Minnesota','Washington','Detroit','Milwaukee','Orlando',
          'Houston','Boston','Philadelphia','Sacramento','Dallas',
          'L.A.Clippers','Golden State','Toronto','Denver','Memphis','New Orleans',
          'Oklahoma City','Brooklyn']

team_names = ['Bulls', 'Jazz', 'Suns', 'Lakers', 'Spurs', 'Pacers', 'Heat', 'Hawks', 
              'Knicks', 'Cavaliers', 'Hornets', 'Trail Blazers', 
              'Timberwolves', 'Wizards','Pistons', 'Bucks', 'Magic', 
              'Rockets', 'Celtics', '76ers', 'Kings','Mavericks', 'Clippers', 
              'Warriors', 'Raptors', 'Nuggets', 'Grizzlies','Pelicans', 
              'Thunder', 'Nets']

team_abb = ['CHI', 'UTA', 'PHX', 'LAL', 'SAS', 'IND', 'MIA', 'ATL', 'NYK', 
            'CLE', 'CHA', 'POR', 'MIN', 'WAS', 'DET', 'MIL', 'ORL',
            'HOU', 'BOS', 'PHI', 'SAC', 'DAL', 'LAC', 'GSW', 'TOR', 
            'DEN', 'MEM', 'NOP', 'OKC', 'BKN']

team_state = ['Chicago', 'Utah', 'California', 'Texas', 'Indiana', 'Florida',
              'Atlanta', 'New York', 'Ohio', 'North Carolina', 'Oregon', 
              'Minnesota', ]


col1 = []
col2 = []
for i in team_city:
    ind = unique.index(i)
    col1.append(team_names[ind])
    col2.append(team_abb[ind])
    
print(len(col1), len(col2))

team_stats.insert(2, "Team_name", col1)
team_stats.insert(3, "Team_abb", col2)

695 695

In [ ]:
teams = pd.read_csv('./Datasets/nba_dataset/csv/team.csv')

teams = teams.sort_values(['city'], ascending=(True))
team_city = team_stats['Team'].to_numpy()
teams.drop(['year_founded'], axis= 1, inplace=True)

unique = ['Chicago','Utah','Phoenix','L.A.Lakers','San Antonio','Indiana', 
          'Miami','Atlanta','New York','Cleveland','Charlotte','Portland',
          'Minnesota','Washington','Detroit','Milwaukee','Orlando',
          'Houston','Boston','Philadelphia','Sacramento','Dallas',
          'L.A.Clippers','Golden State','Toronto','Denver','Memphis','New Orleans',
          'Oklahoma City','Brooklyn']

unique.sort()

#array = np.empty([team_stats.shape[0], teams.shape[1]])
array = []
print(team_stats.shape, teams.shape)
it=0
for t in team_city:
    ind = unique.index(t)
    #array[it,:] = teams.iloc[ind,:]
    array.append(teams.iloc[ind,:].to_numpy())
    it+=1

print(len(array))

array = np.array(array).reshape(len(array), 6)
array.shape
print(array)

(695, 22) (30, 6)
695
[[1610612737 'Atlanta Hawks' 'ATL' 'Hawks' 'Atlanta' 'Atlanta']
 [1610612737 'Atlanta Hawks' 'ATL' 'Hawks' 'Atlanta' 'Atlanta']
 [1610612737 'Atlanta Hawks' 'ATL' 'Hawks' 'Atlanta' 'Atlanta']
 ...
 [1610612764 'Washington Wizards' 'WAS' 'Wizards' 'Washington'
  'District of Columbia']
 [1610612764 'Washington Wizards' 'WAS' 'Wizards' 'Washington'
  'District of Columbia']
 [1610612764 'Washington Wizards' 'WAS' 'Wizards' 'Washington'
  'District of Columbia']]

In [82]:
team_stats.drop(['Team'], axis=1, inplace=True)

team_stats.insert(1, "id", array[:,0])
team_stats.insert(2, "full_name", array[:,1])
team_stats.insert(3, "abb", array[:,2])
team_stats.insert(4, "nickname", array[:,3])
team_stats.insert(5, "city", array[:,4])
team_stats.insert(6, "state", array[:,5])

In [ ]:
team_stats

team_stats.to_csv('Clean_./Datasets/team_stats_season.csv')

In [44]:
teams = teams.sort_values(['city'], ascending=(True))
teams

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961

In [ ]:
team_stats.head(5)

,No,Team,Team_state,Team_city,Team_abb,Team_name,G,Min,Pts,Reb,...,Oreb,Fgm-a,Pct,3gm-a,Pct.1,Ftm-a,Pct.2,Eff,Deff,Year
0,1,Chicago,Atlanta,Atlanta,ATL,Bulls,103,48.4,96.0,44.1,...,14.9,36.7-81.7,0.449,3.9-12.0,0.323,18.7-25.2,0.741,111.6,17.5,1997-1998
1,2,Utah,Massachusetts,Boston,BOS,Jazz,102,48.3,98.6,40.8,...,11.3,35.9-74.3,0.483,3.1-8.4,0.368,23.8-30.9,0.768,116.3,17.5,1997-1998
2,3,Phoenix,Ohio,Cleveland,CLE,Suns,86,48.6,99.3,41.9,...,12.1,38.2-82.0,0.466,5.2-14.7,0.355,17.7-23.6,0.747,117.1,13.6,1997-1998
3,4,L.A.Lakers,Louisiana,New Orleans,NOP,Lakers,95,48.3,104.8,42.9,...,13.2,38.0-79.1,0.480,6.1-17.3,0.350,22.8-33.7,0.675,120.8,13.2,1997-1998
4,5,San Antonio,Illinois,Chicago,CHI,Spurs,91,48.4,92.5,44.1,...,11.9,35.1-75.1,0.468,3.7-10.8,0.344,18.5-26.8,0.688,108.0,13.1,1997-1998